@use '../rulesets/' as *;


.aboutme {
    display: flex;
    gap: 40px;
    background-color: black;
    color: white;
    padding: 4rem 1.5rem;
    // margin-bottom: 40px;
    filter: grayscale(100);
    justify-content: center;
    border-top: 1.5px solid grey;
    border-bottom: 1.5px solid red;

    @include devices (mobile) {
        flex-direction: column-reverse;
        align-items: center;
        .bio > h1 {
            text-align: center;
        }
    }
}

.bio p {
    max-width: 450px;
    color: rgb(199, 199, 199);
}

.stats {
    display: flex;
    margin-top: 20px;
    gap: 100px;
    @include devices (mobile) {
        gap: 30px;
        margin-top: 40px;
        justify-content: space-evenly;
    }
    .count {
        font-weight: bold;
    }
    .stat-title {
        font-size: small;
        margin-top: 6px;
        color: rgb(199, 199, 199);
    }
}