


.aboutme {
    display: flex;
    gap: 40px;
    background-color: black;
    color: white;
    padding: 4rem 0;
    // margin-bottom: 40px;
    filter: grayscale(100);
    justify-content: center;
    border-top: 1.5px solid grey;
    border-bottom: 1.5px solid red;
}

.bio p {
    max-width: 450px;
    color: rgb(199, 199, 199);
}

.stats {
    display: flex;
    margin-top: 20px;
    gap: 100px;
    .count {
        font-weight: bold;
    }
    .stat-title {
        font-size: small;
        margin-top: 6px;
        color: rgb(199, 199, 199);
    }
}