@use '../rulesets/' as *;



.reviews {
    background-color: black;
    color: white;
    padding: 3rem 0;
    display: flex;
    flex-direction: column;
    // justify-content: center;
    text-align: center;

    .rev-cap{
        color: red;
        font-size: medium;
    }
}

.rev-block {
    display: flex;
    gap: 70px;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    .left-arrow-btn , .right-arrow-btn {
        cursor: pointer;
        background-color: gray;
        padding: 15px;
        border-radius: 70%;
        @include devices (mobile) {
            .left-arrow-btn{
                display: none !important;
                overflow: hidden;
            }
            .right-arrow-btn {
                display: none !important;
                overflow: hidden;
            }
        }
    }
}

.review-wrapper {
    text-align: left;
    display: flex;
    gap: 20px;
    padding: 30px;
    border-radius: 5px;
    background-color: whitesmoke;
    color: black;

    @include devices (mobile) {
        flex-direction: column;
        
    }
    h2 {
        font-size: medium;
    }
    p {
        max-width: 300px;
        font-size: small;
    }
    .seemore {
        color: red;
        cursor: pointer;
    }
}