

// HEADER SECTION

@mixin header-bg {
    background-image: url(/images/assets/wifyhero\ bg.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-blend-mode: lighten;
}

@mixin connect-bg {
    background-image: url(/images/assets/Rectangle\ 9-\ lets\ connect.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-blend-mode: lighten;

}