

// HEADER SECTION

@mixin header-bg {
    background-image: url(/images/assets/wifyhero\ bg.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    
}